.btn-primary {
  background-color: $main-color;
  border: none;

  &:hover {
    background-color: darken($main-color, 10%);
  }
}

.btn-danger {
  background-color: $danger-color;

  &:hover {
    background-color: darken($danger-color, 10%);
  }
}
